<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Alta de Categorías</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../assets/css/estilos.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../../assets/js/validaciones.js"></script>
</head>
<body>
    <h1>Formulario de Alta de Categorías</h1>
    <form action="../categorias.php" method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <button type="button">Cancelar</button>
        <button type="submit">Guardar</button>
    </form>
    <p class="centered">Luis Noel Antezana</p>
    <a href="/MIPROYECTO/index.php" class="btncentro">Volver</a>
</body>
</html>
